/* Reset CSS */
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FCFFFC;
    background-image: url("https://th.bing.com/th/id/R.8113a0566a5240059987e8a5dc831136?rik=LDVp4IgBr9BkMg&riu=http%3a%2f%2ffreedesignfile.com%2fupload%2f2017%2f01%2fLight-blue-tech-background-vector-04.jpg&ehk=wU8%2fELpyBvhSXUZApKxlSPoHE6ZwCnla1IiaxmZzS2o%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1");
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Divider Styles */
hr {
    border: 4px solid #6a00ed;
    margin: 0 auto;
}

/* Header Styles */
header {
    padding: 10px 0;
    background-color: #353333;
    text-align: center;
}

/* H1 Header Style */
header h1 {
    margin: 20px auto;
}

/* List Header Style */
#header-option ul {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 8px;
    height: auto;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

#header-option ul li a {
    color: #b6b3b3;
    padding: 5px;
    text-decoration: none;
    transition: 0.8s;
    border-bottom: 1px solid transparent;
}

#header-option ul li a:hover {
    color: #ffffff;
}

/* Menu Section Style */
#Fonti-menu {
    padding: 10px;
    color: #585191;
}

/* Main Styles */
main {
    padding: 10px;
    min-width: 20%;
    min-height: 40%;
    width: 80%;
    align-self: center;
}

/* Intro Styles */
#intro {
    padding: 10px 40px;
    background-color: #248232;
    border-radius: 10px;
    margin-bottom: 20px;
}

#container-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid white;
}

#text-intro {
    width: 60%;
}

#intro-img {
    height: 25%;
    width: 15%;
    border-radius: 8px;
}

/* Types Section Styles */
#types {
    background-color: #423f3f;
    padding: 10px 40px;
    margin-top: 20px;
    border-radius: 20px;
}

#types h3 {
    color: #FFF;
}

#types ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#types ul li {
    list-style: none;
    padding: 8px;
    margin: 5px 2px;
    width: 16%;
    border: 2px lightcoral solid;
    border-radius: 8px;
}

#types ul li strong{
    color: #9adf9a;
    margin: 4px;
}

#types ul li p {
    margin: 10px 0;
}

#types ul li img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#digital-currency {
    padding: 10px 40px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #2b7fb3;
    color: #fff;
}

.title{
    margin: 5px;
    text-align: left;
    border-bottom: 2px solid white;
}

#digital-currency p {
    margin-bottom: 15px;
    line-height: 1.5;
}

#digital-currency ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#digital-currency li {
    margin-bottom: 10px;
    list-style-type: none;
    text-align: center;
    border-bottom: 2px solid white;
    width: 60%;
}

#digital-currency h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

#digital-currency img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}


/* Footer Style */
footer {
    padding: 20px;
    background-color: #585191;
    text-align: left;
}

#source-link{
    color: white;
    text-decoration: none;
}

#source-link li a{
    color: white;
    text-decoration: navajowhite;
}